@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	font-family: 'Montserrat', sans-serif !important;
}
.noRound{
	border-radius: 0 !important;
}
.fixed{
	position: fixed !important;
	width:100%;
}
.socail{
	background-color: white !important;
}
.mainTitleImg{
	height: 35px;
	margin-right: 10px;
}
#nav{
	top: 65px;
	z-index: 999 !important;
}
#mainTitleContainer{
	z-index: 999 !important;
	top: 0;
}
.mainTitle{
	height: 64px;
	color: white;
	line-height: 64px;
	font-size: 46px;
}
.menuBorder{
	border-bottom: 1px solid white;
}

.tile{
	border-radius: 0 !important;
}
.width{
	width: 70%;
	margin-left: 15%
}
#titleImg{
	padding-top: 65px;
	background-image: url("news.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#titleImg h1{
	
	color: white !important;
	font-size: 300%;
}
#titleImg h2{;
	color: #eee !important;
}
#titleImg .container{
	background-color: rgba(0,0,0,0.3);
	padding: 32px;
}
.invisible{
	opacity: 0;
}
.author-image {
    width: 60px;
    height: 60px;
    border: 3px solid #ccc;
    border-radius: 50%;
}
.is-dark{
	background-color: #24292e !important;
}
.customDark{
	background-color: #2b3137 !important;
}
.navbar{
	padding-left: 256px;
	padding-right: 256px;
}
#getIt{
	font-size: 350% !important;
}
#descrip{
	font-size: 150% !important;
}
.white{
	color: white !important;
}
.footer input{
	margin-top: -5px;
	margin-left: -15px !important;
}
.footerEmail{
	margin-top: 10px !important;
	margin-left: -50px !important;
}

.fa-facebook{
	color: #4267B2 !important;
}
.fa-twitter-square{
	color: #00aced !important;
}

.yellow:hover{
	color: #f2e63c !important;
}
.yellow{
	color: #f2e63c !important;
}
